<div style="width:960px; position:relative; margin:0 auto">
    <div style="width:300px; position:relative; margin:0 auto; line-height:27px; border:1px solid #d6d6d6">
        Nome: <span class="1"><%= @name %></span> <br>
        Nascimento: <span class="2"><%= @data %></span> <br>
        Qtd. de Irmãos: <span class="3"><%= @brothers %></span> <br>
        Pai Eterno: <span class="4"><%= @father %></span> <br>
        Pais: <span class="5"><%= @country %></span> <br>
        Endereço: <span class="6"><%= @address %></span> <br>
        Principal interesse: <span class="7"><%= @interests %></span> <br>
    </div>

    <div>
        <h1>Refaça =P</h1>

        <form action="javascript:" method="post">
            <input type="text" name="name" placeholder="<%= @name %>" data-value="<%= @name %>" data-key="1"><br>
            <input type="text" name="data" placeholder="<%= @data %>" data-value="<%= @data %>" data-key="2"><br>
            <input type="number" name="qtd" value="<%= @brothers %>" data-value="<%= @brothers %>" data-key="3"><br>
            <input type="text" name="father" placeholder="<%= @father %>" data-value="<%= @father %>" data-key="4"><br>
            <input type="text" name="pais" placeholder="<%= @country %>" data-value="<%= @country %>" data-key="5"><br>
            <input type="text" name="address" placeholder="<%= @address %>" data-value="<%= @address %>" data-key="6"><br>
            <input type="text" name="interests" placeholder="<%= @interests %>" data-value="<%= @interests %>" data-key="7">
        </form>
    </div>
</div>